<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DalJsonConnection" type="InfoSupport.KC.OpleidingsplanGenerator.Dal.DalConfiguration, InfoSupport.KC.OpleidingsplanGenerator.Dal"/>
    <section name="generatorConfigurations" type="InfoSupport.KC.OpleidingsplanGenerator.Generator.GeneratorConfiguration, InfoSupport.KC.OpleidingsplanGenerator.Generator" />
  </configSections>

  <generatorConfigurations education-plan-file-dir-path="Data/EducationPlanFiles" />
  
  <DalJsonConnection
    management-properties-path="../../Data/ManagementProperties.json"
    module-path="../../Data/Modules.json" />
</configuration>