<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="generatorSettings" type="com.infosupport.afstuderen.opleidingsplan.generator.GeneratorConfiguration, com.infosupport.afstuderen.opleidingsplan.generator"/>
  </configSections>

  <generatorSettings
    period-educationplan-days="90" />
</configuration>