<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DalJsonConnection" type="com.infosupport.afstuderen.opleidingsplan.dal.DALConfiguration, com.infosupport.afstuderen.opleidingsplan.dal"/>
    <section name="generatorConfigurations" type="com.infosupport.afstuderen.opleidingsplan.generator.GeneratorConfiguration, com.infosupport.afstuderen.opleidingsplan.generator" />
  </configSections>

  <generatorConfigurations education-plan-file-dir-path="Data/EducationPlanFiles" />
  
  <DalJsonConnection
    management-properties-path="../../Data/ManagementProperties.json" />
</configuration>