<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DalJsonConnection" type="com.infosupport.afstuderen.opleidingsplan.dal.DALConfiguration, com.infosupport.afstuderen.opleidingsplan.dal"/>
  </configSections>

  <DalJsonConnection
    management-properties-path="../../Data/ManagementProperties.json" />
</configuration>