<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="DalJsonConnection" type="InfoSupport.KC.OpleidingsplanGenerator.Dal.DalConfiguration, InfoSupport.KC.OpleidingsplanGenerator.Dal"/>
    </configSections>
  
    <DalJsonConnection 
      profile-path="../../Data/Profiles.json" 
      educationplan-path="../../Data/EducationPlans.json"
      management-properties-path="../../Data/ManagementProperties.json"
      educationplan-updated-path="../../Data/Updated" />
</configuration>