<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="profileJsonConnection" type="com.infosupport.afstuderen.opleidingsplan.dal.DALConfiguration, com.infosupport.afstuderen.opleidingsplan.dal"/>
    </configSections>
  
    <profileJsonConnection 
      profile-path="../../Data/Profiles.json" 
      educationplan-path="../../Data/EducationPlans.json"
      management-properties-path="../../Data/ManagementProperties.json"
      educationplan-updated-path="../../Data/Updated" />
</configuration>