<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <section name="serviceConnection" type="InfoSupport.KC.OpleidingsplanGenerator.Integration.IntegrationConfiguration, InfoSupport.KC.OpleidingsplanGenerator.Integration" />
  </configSections>

  <serviceConnection info-support-training-url="http://services.infosupport.com/ISTraining.External/v2/nl/" />

</configuration>